rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function validReview() {
      return request.auth != null
        && request.resource.data.user.uid == request.auth.uid
        && request.resource.data.status == 'new'
        && request.resource.data.category in ['content','bug','feature','general']
        && request.resource.data.rating is int
        && request.resource.data.rating >= 1
        && request.resource.data.rating <= 5
        && request.resource.data.message is string
        && request.resource.data.message.size() >= 1
        && request.resource.data.message.size() <= 2000;
    }

    match /reviews/{reviewId} {
      allow create: if validReview()
        && (
          request.auth.token.firebase.sign_in_provider == 'anonymous'
          || (
            request.auth.token.email_verified == true
            && request.resource.data.user.email == request.auth.token.email
            && request.resource.data.user.emailVerified == true
          )
        );
      allow read, update, delete: if false;
    }

    match /reviewUsers/{uid} {
      allow create, update: if request.auth != null
        && request.auth.uid == uid
        && request.resource.data.uid == request.auth.uid;
      allow read, delete: if false;
    }
  }
}